.md-header {
    background-color: #0b3e81 !important;
    color: white !important;
}
.md-search__input {
    background-color: white !important;
}
.md-search__icon[for=__search]{
    color: initial;
}
.md-container {
    background-color: #113962;
}
.md-nav__item .md-nav__link--active {
    color: white;
}
.md-nav__link {
    color: white;
    text-shadow: 4px 4px 8px black;
}
.md-typeset a {
    color: whitesmoke;
}
.md-typeset h1 {
    color: white;
}
.md-typeset h2 {
    color: white;
}
.md-typeset h3 {
    color: white;
}
.md-typeset h4 {
    color: white;
}
.md-typeset h5 {
    color: white;
}
.md-main {
    color: white !important;
    background-color: #113962;
    background: linear-gradient(to bottom, #104893 0%,#113962 100%), url(/images/back.png);
    background-position: left:0;
    background-repeat: no-repeat;
    position: absolute;
}
a:link {
    color: #c8c8c8;
}