.md-header {
    background-color: #0b3e81 !important;
    color: white !important;
}
.md-search__input {
    background-color: white !important;
}
.md-search__icon[for=__search]{
    color: initial;
}
.body {
    background: #113962;
    background: linear-gradient(to bottom, #104893 0%,#113962 100%), url(../images/back.png);
    background-position: left:0;
    background-repeat: no-repeat;
    position: absolute;
}